$primary: #D1DBBD !default;
$calender-theme: $primary !default;
$calender-background: white !default;
$calender-input-height: 40px !default;

.c-date-picker {
  display: grid;

  &__label {
    color: black;

    &--dots::after {
      content: ":";
      margin: 0 .25rem;
    }
  }

  &__container {
    position: relative;
  }

  &__field {
    height: $calender-input-height;
    padding: 0 .5rem;
    font-size: large;
    width: 100%;
    box-sizing: border-box;
  }

  &__picker {
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0 8px 4px rgba(0, 0, 0, 0.15);
    width: 300px;
    background-color: white;
    position: absolute;
    top: $calender-input-height;
  }

  &__header {
    display: grid;
    grid-template: 1fr auto / auto 1fr auto;
    grid-template-areas: "chevron-left date chevron-right""days days days";
    padding: .5rem;
    background-color: $calender-theme;
    height: 100px;
  }

  &__chevron {
    border: none;
    color: grey;
    font-size: large;
    background: none;
  }

  &__date {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: date;

    &-item {
      font-size: x-large;
      border: none;
      background: none;
    }
  }

  &__weekdays {
    grid-area: days;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
  }

  &__weekday {
    font-size: small;
    font-weight: bold;
    text-transform: capitalize;
    ;
  }

  &__dates {
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: .25rem;

  }

  &__day {
    outline: none;
    height: 37px;
    margin: 0;
    border: none;
    background: none;
    padding: 0;
    width: 100%;

    &--clear {
      color: grey;
    }

    &--today {
      background-color: $calender-theme;
    }

    &--selected-date {
      border: 2px solid darken($color: $calender-theme, $amount: 10);
    }

    &:hover {
      border: 2px solid darken($color: $calender-theme, $amount: 10);
    }
  }
}